__pycache__
datasets/a1a
datasets/a1a.t
datasets/a9a
datasets/a9a.t
datasets/gisette_scale
datasets/gisette_scale.t
datasets/ijcnn1
datasets/ijcnn1.t
datasets/leu
datasets/leu.t
datasets/liver-disorders
datasets/liver-disorders.t
datasets/madelon
datasets/madelon.t
datasets/splice
datasets/splice.t
